@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this client registration: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <p>New customer: </p>  @Html.RadioButtonFor(model => model.NewOrReturning, "true")
    <p>Returning customer: </p> @Html.RadioButtonFor(model => model.NewOrReturning, "false")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>